.initial-message-container {
  background-color: rgb(3, 168, 245, 0.55);
  max-width: 400px;
  height: 100px;
  margin-top: 30px;
  margin-bottom: 50px;
  border: hidden;
  box-shadow: 0 -0.1rem 1rem rgb(0 0 0 / 15%) !important;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
